.table{
    display: flex;
    width: 56vw;
    background-color: #4b4b4b;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.table:hover{
    background-color: #fff;
    /* color: #2a2a2a; */
    position: relative;
    bottom: 8px;
}

.dateContainer{
    display: flex;
}


.h3{
    background-color: #2a2a2a;
    width: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.tit{
    margin: auto 0px;
    background-color: #40005d;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}



.amount{
    margin-right: 20px;
    background-color: #40005d;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
}

.overAllSpending{
    color: white;
    text-align: center;
}

.UpdateLink{
    color: white;
    text-decoration: none;
}

.DeleteBtn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}