

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 20PX;
    background-color: #75E6DA;
    padding: 20px;
    border-radius: 20px;
}


.BackBtn{
    width: 8rem;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    /* text-align: center; */
    margin-left: 7.2rem;
    margin-top: 1rem;

}